/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
    font-family: 'Quicksand', sans-serif;
}

.brand-logo {
  font-family: 'Orbitron', cursive;
}

.header {
  font-family: 'Orbitron', cursive;
}

.card-content{
  background-color: #262626;
}

.card .card-reveal {
  background-color: #262626;
}

.linking:hover {
  text-decoration: underline;
}

.navbar-fixed {
  position: fixed;
  height: 56px;
  z-index: 997;
  background-color: #262626;
  padding-bottom: 63px;
}

#index-banner {
  padding-top: 56px;
}

#work, #about{
  background: #000;
  line-height: 5px;
}

.white-ish {
  color: #C9C9C9;
}

p {
  line-height: 22px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.galleryPic {
    width: 85%;
    margin-top: 83px;
}

.activator {
  cursor: pointer;
}

.white-border {
   margin: 0 auto;
    border-color: white;
    border-style: solid;
    border-radius: 29px;
    padding: 12px;
}

.card {
  background-color: #000;
}

nav .brand-logo {
  font-size: 35px;
}

@media screen and (max-width: 1290px) {
  nav .brand-logo {
        font-size: 27px;
  }
}

@media screen and (max-width: 1070px) {
  nav .brand-logo {
        font-size: 24px;
  }
}

@media screen and (max-width: 510px) {
  nav .brand-logo {
        font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  nav .brand-logo {
        font-size: 15px;
  }
}