/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
    font-family: 'Raleway', sans-serif;
}

.brand-logo {
  font-family: 'Raleway', sans-serif;
}

.navbar-fixed {
  position: fixed;
  height: 56px;
  z-index: 997;
}

#index-banner {
  padding-top: 56px;
}

#work, #about{
  background: #000;
  line-height: 5px;
}

.white-ish {
  color: #C9C9C9;
}

p {
  line-height: 22px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.galleryPic {
    width: 85%;
    margin-top: 83px;
}

.activator {
  cursor: pointer;
}